body {
    background:darkkhaki;
}

/* banner image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 178px;
}

#canvas1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#playerImage {
    display: none;
}