body {
    background:darkkhaki;
    padding:0;
    margin:0;
}

/* banner image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 178px;
}

.homeButton {
    text-decoration: none;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    font-family: "OCR A Std", monospace;
    font-size: larger;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.start {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    font-family: "OCR A Std", monospace;
    font-size: larger;
    font-weight: bolder;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#canvas1 {
    position:absolute;
    top: 75%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#playerImage {
    display: none;
}