body {
    background-color:darkkhaki;
    padding:0;
    margin:0;
}

.homeButton {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    font-family: "OCR A Std", monospace;
    font-size: larger;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.start {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    font-family: "OCR A Std", monospace;
    font-size: larger;
    font-weight: bolder;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

/* banner image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 178px;
}

#bloopyStanding img{
    height: 80px;
    width: auto;
    border: none;
    display: block;
    padding: 0px;
    margin: 0px;
    background-color: none;

    bottom: 0px;
    left: 350px;
    top: 1000px;
    position: absolute;
    
}

#bloopyJumping img{
    height: 80px;
    width: auto;
    border: none;
    display: block;
    padding: 0px;
    margin: 0px;
    background-color: none;

    bottom: 0px;
    left: 350px;
    top: 900px;
    position: absolute;
    
}


#bloopyJumping {
    display: none;
}
/* character controls */
/* @keyframes jump {
    0%{top: 1000px;}
    30%{top: 900px;}
    70%{top: 900px;}
    100%{top: 1000px;}
} */
/* #bloopyJumping.jump img{
    display: block;
    animation: jump 350ms;
} */

#block {
    width: 40px;
    height: 40px;
    border: none;
    background-color: crimson;

    bottom: 0px;   
    left: 1500px;
    top: 1050px;
    position: absolute;

    /* animation */
    animation: block 2000ms infinite linear;
}

@keyframes block {
    0%{left: 1500px;}
    100%{left: 300px;}
}

#game {
    padding: 0px;
    margin: 150px;
    width: 1440px;
    height: 729px;
    border: 3px solid black;
    /* background-image: url("../../images/practice image.webp"); */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}