body {
    background-color:darkkhaki;
}

img { /* banner image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 178px;
}

.box {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 800px;
    overflow-wrap: break-word;
}

p {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "OCR A Std", monospace;
}

.playButton {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 40px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    font-family: "OCR A Std", monospace;
    font-size: larger;
    font-weight: bolder;
}


table, th, td {
    font-family: "OCR A Std", monospace;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 100px;
}

tr:nth-child(odd) {
    background-color:burlywood;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}